body{margin:0;background-color:#333333;overflow:hidden;
    font-size:12px;font-family:sans-serif;color:white;}

a{text-decoration:none;color:inherit;}
#itetris{margin:0 auto;min-width:260px;min-height:525px;}
#itetris h1{margin:0;width:128px;height:100%;background:url(logo.svg) no-repeat center;background-size:128px 40px;text-indent:-1000em;}
#itetris h1, #score-card{float:left;}
#score-card{margin-left:10px;height:100%;}
#score-card td:first-child{font-weight:bold;}
#game-board, #next-shape{background-color:#FFFACD;}
#next-shape{float:right;padding:5px;margin:5px 0;}
#game-board{clear:both;}
.block{float:left;}

#dialog-templates{display:none;}
.dialog-overlay, .dialog{position:absolute;top:0;}
.dialog-overlay{width:100%;height:100%;z-index:1000;background-color:black;opacity:0.8;}
.dialog{margin-top:5%;z-index:1001;width:100%;color:black;}
.dialog .inner{margin:0 auto;width:80%;padding:20px;background-color:white;border-radius:5px;max-width:400px;}
.dialog h2{margin:0;}
.button{font-size:2em;display:block;text-align:center;}
