body{margin:0;background-color:#444444;overflow:hidden;
    font-size:12px;font-family:sans-serif;color:white;}
#iTetris{margin:0 auto;}
#iTetris h1, #scoreCard{float:left;}
#scoreCard{margin-left:20px;}
#nextShape{float:right;}
#scoreCard p{font-size:0.9;margin:0;}
#gameBoard{background-color:#FFFACD;}
#gameBoard{clear:both;}
.block{float:left;}
