body{margin:0;overflow:hidden;font-size:12px;font-family:sans-serif;}

h1, h2, h3, h4{font-weight:400;}
a{text-decoration:none;color:inherit;}

#itetris{margin:0 auto;min-width:260px;min-height:525px;display:none;}
#itetris h1{margin:0;width:96px;height:100%;background:url(../assets/logo.svg) no-repeat center;background-size:96px 30px;
            text-indent:-1000em;margin-left:10px;}
#itetris h1, #score-card{float:left;}
#header{padding:5px 0;border-bottom:1px solid #aaaaaa;}
#score-card{margin-left:20px;height:100%;}
#score-card td:first-child{font-weight:bold;}
#score-card td{line-height:90%;}
#next-shape{float:right;}
#game-board{clear:both;}
.block{float:left;}

#dialog-templates{display:none;}
.dialog-overlay, .dialog{position:absolute;top:0;}
.dialog-overlay{width:100%;height:100%;z-index:1000;background-color:black;opacity:0.8;}
.dialog{margin-top:70px;z-index:1001;width:100%;}
.dialog .inner{margin:0 auto;width:80%;max-width:400px;background-color:white;border-radius:5px;}
.dialog .content{padding:15px 20px 5px;}
.dialog h2{margin:0;text-align:center;}
.button{font-size:1.5em;display:block;text-align:center;padding:10px 0;color:#007AFF;border-top:1px solid #aaaaaa;}
.button.primary{font-weight:bold;}
.button.top{background:none;border-top:none;}
